* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2rem;
    min-height: 100vh;
}

.grid-container > *{
    text-align: center;
    font-weight: 500;
}

.grid-container {
    display: grid;
    grid-template: 
    "header" 20%
    "nav" 20%
    "main" 40%
    "footer" 20%; 
    background-color: lightgrey;
  
}

    .header {
        grid-area: header;
        background-color: #000B1F;
    }

    .nav {
        grid-area: nav;
        background-color: lightgray;
        
    }
    .main {
        grid-area: main;
        background-color: lightblue;
    }

    .footer {
        grid-area: footer;
        background-color: gray;
        margin-bottom: 0;
        text-align: center;
        bottom: 0;
        height: 100%;
    }
    .grid-container {
        display: grid;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer";
        grid-template-rows: auto auto 4fr auto; 
        }
    
    


/*Header-an dauden ikonoen eta enpresaren logoaren CSS-a*/
.logoa {
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 10px 0px #000B1F ;
} 

.ikurriña {
    margin-top: 2%;
    float: right;
    width: 70px;
    height: 70px;
}

#ikonoa {
    color: black;
    float: right;
    font-size: 350%;
    margin-right: 3.5%;
    margin-top: 2%;
}

.content {
    background-color: lightblue;
    width: 100%;
}

.ikonoak {
    text-align: center;
    width: auto;
}

.eskaintza1{
    background: linear-gradient(to bottom left, #e0e8fd, #b3c5f5);
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.eskaintza2{
    background: linear-gradient(to bottom left, #e0e8fd, #b3c5f5);
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.aparteko {
    display: flex;
    justify-content: center;
}


/*Ezkerreko 3 barren menuaren CSS-a hau klikatuta menu bat agertu dezan bere CSS-arekin*/

.menu-container {
    position: relative;
    float:left;
}

.menu-icon {
    font-size: 300%;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background 0.3s;
}

.menu-icon:hover {
    background-color: #0056b3;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    padding: 20px;
    left: 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    min-width: 300%;
    min-height: 250%;
    font-size: 200%;
    text-decoration: none;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    list-style: none;
    padding: 10%;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: #007BFF;
    transition: background 0.3s, color 0.3s;
    text-decoration: none;
}

.menu ul li:hover {
    background-color: #007BFF;
    color: white;
}

.menu ul li:last-child {
    border-bottom: none;
}

a {
    text-decoration: none;
    color: blue;
}


/*Produktuen katalogorako estiloak*/

.produktuak {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: stretch; /*div guztiak altura berdina edukitzeko*/
    gap: 16px;      
    text-align: center; 
}

.produktua {
    border: 1px solid black;
    padding: 16px;
    margin: 16px;
    width: 30%;
    box-sizing: border-box;
    background-color: white;   
    border-radius: 8px;
    transition: background-color 0.3s ease;    
}
.produktua:hover {
    background-color: #8d8989; 
    border-color: #666; 
}

@media (max-width: 768px) {
    .produktua {
        width: 30%;
    }
}

@media (max-width: 480px) {
    .produktua {
        width: 300px;
        max-width: 480px;
        height: 300px; /* Asegura espacio suficiente para centrar la imagen */
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        overflow: hidden; /* Evita que imágenes grandes se desborden */
    }
    
    .produktua img {
        width: 80%;
        max-width: 240px;
        height: auto;
        max-height: 200px;
        display: block; /* Evita espacios vacíos debajo de la imagen */
        
    }

    .aparteko {
        width: 300px;
        max-width: 300px;
        height: 300px;
        display:flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .eskaintza1{
        background: linear-gradient(to bottom left, #e0e8fd, #b3c5f5);
        margin: 2%;
        padding: 2%;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        
    }
    .eskaintza2{
        background: linear-gradient(to bottom left, #e0e8fd, #b3c5f5);
        margin: 2%;
        padding: 2%;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav{
        display: none;
    }
}
.produktua img {
    width: 100%;
    height: auto;
}

.produktuIzena {
    text-align: center;
}
.produktuPrezioa {
    text-align: center;
    margin-bottom: 40px;
}
.eskainitakoZerbitzuak{
    display: grid;
    grid-template-areas:
        ' garraioZerbitzua'
         'bezeroarenArreta'
        ' paketearenJarraipena'; 
        
    width: 70%;
    font-size: 150%;
    margin-left: 15%;
}


table, td, tr, th{
    row-gap: 0px;
    border: 1px solid black;
    text-align: center;
    margin-top: 5%;
}

.paketearenJarraipenaImg{
    width: 25%;
    height: 25%;
}
.garraioZerbitzuaImg{
    width: 25%;
    height: 25%;
}

.garraioZerbitzua{
    background-color: lightblue;
}
.bezeroarenArreta{
    background-color: lightblue;
}
.paketearenJarraipena{
    background: linear-gradient(to bottom left, #e0e8fd, #b3c5f5)
}

/*mobilean formularioa ondo ikusteko*/
@media (max-width:480px) {
    

.formularioa {
    border: 1px black solid;
    min-width: 70%;
    margin: 2% auto;
    background-color: white;
    padding: 1%;
    height: 100%;
    box-sizing: border-box;
}

.formularioa .explikaziokaxa {
    width: 90%;
    height: 20%;
}

.formularioa>form>.kontaktatubotoiak {
    display: grid;
    text-align: center;
    grid-template-columns: 40% 40%;
    grid-gap: 5%;
}



.formularioa>form>.kontaktatubotoiak>.bidalibotoia {
    background-color: lightgreen;
    margin: 2%;
    height: 120%;
}

.formularioa>form>.kontaktatubotoiak>.ezabatubotoia {
    background-color: rgb(255, 87, 87);
    margin: 2%;
    height: 120%;
}
}

@media (min-width:480px) {
    

    .formularioa {
        border: 1px black solid;
        width: 45%;
        margin: 2% auto;
        background-color: white;
        padding: 1%;
        height: 100%;
        box-sizing: border-box;
        text-align: left;
    }
    
    .formularioa .explikaziokaxa {
        width: 90%;
        height: 20%;
    }
    
    .formularioa>form>.kontaktatubotoiak {
        display: grid;
        text-align: center;
        grid-template-columns: 40% 40%;
        grid-gap: 5%;
    }
    
    
    
    .formularioa>form>.kontaktatubotoiak>.bidalibotoia {
        background-color: lightgreen;
        margin: 2%;
        height: 120%;
    }
    
    .formularioa>form>.kontaktatubotoiak>.ezabatubotoia {
        background-color: rgb(255, 87, 87);
        margin: 2%;
        height: 120%;
    }
    }


