* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2rem;
    min-height: 100vh;
}

.grid-container > *{
    text-align: center;
    font-weight: 500;
}

.grid-container {
    display: grid;
    grid-template: 
    "header" 20%
    "nav" 10%
    "main" 80%
    "footer" 20%; 

    .header {
        grid-area: header;
        background-color: #000B1F;
    }

    .nav {
        grid-area: nav;
        background-color: lightgray;
    }
    .main {
        grid-area: main;
        background-color: green;
    }

    .footer {
        grid-area: footer;
        background-color: gray;
        margin-bottom: 0;
    }

    @media (min-width:768px){
        grid-template: 
        "header" 20%
        "nav" 10%
        "main" 90%
        "footer" 10%;
    }
    
}

/*Header-an dauden ikonoen eta enpresaren logoaren CSS-a*/
.logoa {
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 10px 0px #000B1F ;
} 

.ikurriña {
    margin-top: 2%;
    float: right;
    width: 8%;
    height: 8%;
}

#ikonoa {
    color: black;
    float: right;
    font-size: 350%;
    margin-right: 3.5%;
    margin-top: 2%;
}

.content {
    padding: 20px;
    background-color: lightblue;
}

.ikonoak {
    text-align: center;
    margin: auto;
    width: auto;
}


/*Ezkerreko 3 barren menuaren CSS-a hau klikatuta menu bat agertu dezan bere CSS-arekin*/
.menu-container {
    position: relative;
    float:left;
}
.menu-icon {
    font-size: 300%;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background 0.3s;
}
.menu-icon:hover {
    background-color: #0056b3;
}
.menu {
    display: none;
    position: absolute;
    top: 100%;
    padding: 20px;
    left: 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    min-width: 300%;
    min-height: 250%;
    font-size: 200%;
    text-decoration: none;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu ul li {
    list-style: none;
    padding: 10%;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: #007BFF;
    transition: background 0.3s, color 0.3s;
    text-decoration: none;
}
.menu ul li:hover {
    background-color: #007BFF;
    color: white;
}
.menu ul li:last-child {
    border-bottom: none;
}

a {
    text-decoration: none;
    color: blue;
}
.eskainitakoZerbitzuak{
    display: grid;


    grid-template-areas:
        ' garraioZerbitzua'
         'bezeroarenArreta'
        ' paketearenJarraipena'; 
        
    width: 70%;
    font-size: 150%;
    margin-left: 15%;
}


table, td, tr, th{
    row-gap: 0px;
    border: 1px solid black;
    text-align: center;
    margin-top: 5%;
}

.paketearenJarraipenaImg{
    width: 25%;
    height: 25%;
}